.historyItem {
  height: 5rem;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: .75rem;
  color: black;
  border-bottom: 1px solid white;
}

#firstHistoryItem {
  background-color: white;
}