.button {
  border: 0;
  font-size: 1.2rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: rgb(197, 56, 56);
  background-color: transparent;
}

#login {
  border-radius: 1rem;
  background-color: lightblue;
  color: white;
}

#login:hover {
  background-color: greenyellow;
}

#nav {
  font-size: 2rem;
}

#chart {
  border-color: black;
}

#chart:hover{
  background-color: lightgray;
}