.button {
  border-radius:20px;
background : #D7b546;
white-space: nowrap;
padding : 10px 26px;
color: #010606;
font-size:16px;
outline:none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;

&:hover{
    transition: all 0.2s ease-in-out;
    background : #fff;
    color: #010606;
}
}

.button--login {
  
  border-radius:20px;
  background : #D7b546;
  white-space: nowrap;
  padding : 10px 26px;
  color: #010606;
  font-size:16px;
  outline:none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.button--login:hover {
  background-color: darkgoldenrod;
}

.button--nav {
  font-size: 2rem;
}

.button--chart {
  border-color: black;
}

.button--chart:hover{
  background-color: lightgray;
}

.button--tickersearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-color: black;
  width: auto;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  margin-left: 5px;
}

.button--tickersearch:hover{
  background-color: #f9e09f;
}

.button--tab {
  border-color: black;
  margin-right: 0;
  border-color: transparent;
}

.button--tab:hover {
  background-color: black;
  color: white;
}

.button--insight {
  font-size: 3rem;
}

.button--tickerresultitem {
  border-radius: 0;
  width: 85%;
  white-space: normal;
}

.button--tickerresultitem:hover {
  color: #32CD32;
  background-color: #f9e09f;
  font-weight: bolder;
  width: 90%;
}