.button {
  border: 0;
  font-size: 1rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: black;
  background-color: transparent;
}

.button--login {
  border-radius: 1rem;
  background-color: lightblue;
  color: white;
}

.button--login:hover {
  background-color: greenyellow;
}

.button--nav {
  font-size: 2rem;
}

.button--chart {
  border-color: black;
}

.button--chart:hover{
  background-color: lightgray;
}

.button--tab {
  border-color: black;
  margin-right: 0;
  border-color: transparent;
}

.button--tab:hover {
  background-color: black;
  color: white;
}

.button--signup {
  background-color: balck;
  color: #ffd700;
}