.historyItem {
  color: black;
  height: 4rem;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  font-weight: lighter;
  padding: 1rem;
}

#historyTitle {
  color: black;
  background-color: goldenrod;
  font-weight:bolder;
  border: 0.5px lightgray;
}