.historyItem {
  height: 4rem;
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid white;
  font-weight: lighter;
}

#historyTitle {
  background-color: white;
  font-weight:bolder;
  border: 0.5px dotted lightgray;
}