.yourStocksItem {
  height: 3rem;
  width: 150px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  font-size: .75rem;
  color: black;
  border: 1px solid black;
  margin-left: 1em;
}

.stock {
  margin-left: 0.5em;
}

.change {
  margin-right: 0.5em;
}