.stockDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.yourStocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0em;
  width: 100%;
}