.yourStocksItem {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  width: 90%;
  padding: 0.2rem;
  background-color: lightgray;
  color: black;
}

.stock {
  margin-left: 1em;
}

.change {
  margin-right: 1em;
}

.yourStocksItem--header {
  color: black;
  background-color: gray;
}